<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3><a href="/">Home</a> | <a href="posts">Posts</a></h3>
    <h1>Home Page</h1>
  </body>
</html>
