<!DOCTYPE html>
<html>
    <head>
        <title>Project 3 Assessment - All Posts</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h3><a href="/">Home</a> | <a href="posts">Posts</a></h3>
        <h1>All Posts</h1>

    </body>
</html>
